<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Update Hotel Details</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

<section class="addhotel" id="addhotel">
    <div class="container-fluid" style="max-width:35rem;">
        <div class="row">
            <div class="col-lg-12 pt-4">
                <div class="mx-auto d-block col-lg-12 col-md-8 add_hotel px-lg-3">

                    <div class="col-lg-12 sign-up-title pb-3">
                        <div class="heading mt-4">
                            <h1 class="text-large text-center">Update hotel</h1>
                        </div>
                    </div>
                    <div class="col-lg-12 addhotel-form mb-3">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12 pt-2">
                                    <div class="form-group">
                                        <input type="file" name="file" accept="image/*" id="imgload">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="img-box  d-flex justify-content-center">
                                            {% if self_hotel.Image == "/static/images/icon-hotel.png" %}
                                            <img src="/static/images/icon-hotel.png" alt="/static/images/icon-hotel.png"
                                                 class="img-fluid" id="img-div">
                                            {% else %}
                                            <img src="{{ self_hotel.Image.url }}" alt="{{ self_hotel.Image.url }}"
                                                 class="img-fluid" id="img-div">
                                            {%endif%}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 pt-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="hotel_name"
                                               value="{{ self_hotel.Hotel_name }}"
                                               placeholder="Hotel Name" autocomplete="off" required>
                                    </div>
                                </div>
                                <div class="col-lg-12 pt-2">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" placeholder="Email"
                                               value="{{ self_hotel.Email }}" autocomplete="off" required>
                                    </div>
                                </div>
                                <div class="col-lg-12 pt-2">
                                    <div class="form-group">
                                        <input type="number" class="form-control" name="phone"
                                               title="Enter 10 digit mobile number"
                                               value="{{ self_hotel.Phone_number }}"
                                               pattern="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[789]\d{9}$"
                                               placeholder="Contact Number" autocomplete="off" required>
                                    </div>
                                </div>
                                <div class="col-lg-12 pt-2">
                                    <div class="form-group">
                                            <textarea class="form-control" placeholder="Hotel Permanant address"
                                                      name="address" rows="4"
                                                      required>{{ self_hotel.Address }}</textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 pt-2">
                                    <div class="form-group">
                                            <textarea class="form-control" placeholder="Description"
                                                      name="description"
                                                      rows="6">{{ self_hotel.Description }}</textarea>
                                    </div>
                                </div>

                                <div class="col-lg-12 pt-2">
                                    <div class="form-group d-flex justify-content-center pt-2 pb-2">
                                        <input type="submit" name="addhotel" value="update Hotel"
                                               class="btn btn-success form-control">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% if msg %}
<script>
        alert("{{ msg }}")
        javascript: history.go(-3);
</script>
{% endif %}
{% if ext %}
<script>
        alert("{{ ext }}")
        javascript: history.go(-1);
</script>
{% endif %}

<script>
    $(document).ready(function () {

             $("#imgload").on('change', function () {
                  var url_path = $(this).val();
                  var fileExtension = ['jpeg', 'jpg', 'png', 'bmp'];
                  if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                        alert("Only formats are allowed : "+fileExtension.join(', '));
                        $(this).val('');
                  }
                  else
                  {
                      $('#img').attr('src', window.URL.createObjectURL(this.files[0]))
                  }
            });
    });




</script>
</body>
</html>